<h1>Vision for <%= @animate.heartfelt.name %></h1>
<br>
<h4><%=@animate.name%></h4>
<br>
<h4>Description</h4>
<%= @animate.description %>
<br>
<br>
<h4> What is the size of your vision?</h4>
<p><%= @animate.size %></p>
<h4> What colors do you see in your business?</h4>
<%= @animate.color %>
<br>
<br>
<h4>How will you feel while working on goal and seeing it come together?</h4>
<%= @animate.emotion %>
<br> 
<br>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
<h4>How much time do you plan on working the goal? Who will be involved? Where will you be?</h4>
<%= @animate.setting %>
<br>
<br>
<h4>What will you be doing to accomplish your goal and what will do after you accomplish?</h4>
<%= @animate.movement %>
<br>
<br>
<h4>What changes in habits and schedule would you to make to acomplish this goal?</h4>
<%= @animate.distinct_parts %>
<br>
<br>
<h4>Does your goal have any required actions</h4>
 <% @animate.requireds.each do |animate|%>
    <a href="/requireds/<%=animate.id %>"><%=animate.name %></a>
    <% end %>
<br>
<br>
<h4>If not, please add action steps?</h4>
<a href="/requireds/new">Create Required Actions</a>
<br>
<br>
<h4>Do you want to make some changes or update your vision?</h4>
<a href="/animates/<%= @animate.id %>/edit">Edit Here</a>
<br>
<br>
<h4>Do you wish to delete your vision?</h4>
<form action="/animates/<%= @animate.id %>" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit"  id="submit " value="Delete">
</form>
<br>
<a href="/animates">Return to Your Vision</a>

