<h1><%= @heartfelt.name %></h1>
<h4><%= @heartfelt.description%></h4>
<br>

<h4>Why will I enjoy this activity?</h4>
<p><%= @heartfelt.enjoyments %><p>

<h4>What are my expected results?</h4>
<p><%= @heartfelt.benefits %></p>

<h4>What kinds of rewards will recieve?</h4>
<p><%= @heartfelt.rewards %></p>



