<h1>Routine for <%= @difficult.heartfelt.name%></h1>
<br>
<h4>What is the vision for this goal?</h4>
<p><%= @difficult.animate.name%></p>

<h4>What is the required action for this goal?</h4>
<p><%= @difficult.required.name%></p>

<h4> What routine do you want to establish?</h4>
<p><%= @difficult.name %></p>

<h4>Describe the routine.</h4>
<p><%=@difficult.description%></p>

<h4>What are the daily and weekly actions are needed for this goal?</h4>
<label>Action One:</label><br>
<p><%= @difficult.tactic_1 %></p>

<label>Action Two:</label><br>
<p><%= @difficult.tactic_2 %></p>

<label>Action Three:</label><br>
<p><%= @difficult.tactic_3 %></p>

<h4>Would you like to update your routine?</h4>
<a href="/difficults/<%= @difficult.id %>/edit">Update here</a><br>
<br>
<h4>Would you like to delete the routine</h4>
<form action="/difficults/<%= @difficult.id %>" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit"  id="submit " value="Delete">
</form>
<br>
<a href="/difficults">Return to Your Routines and Tasks</a>